/*Custom properties*/
:root{
    --border-1: 1px solid rgb(0, 0, 0);
    --border-2: 1px solid rgb(255, 0, 0);
    --border-3: 1px solid rgb(255, 255, 255);
    --border-4: 1px solid rgb(0, 255, 13);
    --primary-color: #1abc9c;
    --secondary-color: #2c3e50;

}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.header{
    /* width: 100%; */
    background-color: var(--secondary-color);
    color: white;

    /* debug */
}



/* JUMBOTRON */
#jumbotron{
    /* width: 100%; */
    /* debug */
    height: 20rem;
    background-color: var(--primary-color);
}

.jumbo-content{
    margin: auto;
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    height: 100%;
}

.jumbo-content > *{
    margin: auto;
}

.jumbo-content img{
    max-height: 50%;
}

/* PORTFOLIO */
.portfolio-content{
    color: var(--secondary-color);
    /* width: 60%; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-content img{
    max-width: 100%;
}

/* COMMON */
/* CONTAINER */
.container{
    /* debug */
}

/* ROW */
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* debug */
}

/* COLUMNS */
[class*="col"]{

    /* debug */
}

/* BUTTON */
.btn{
    color: gray;
    border: 1px solid white;
    /* debug */
}

/* LIST */
.flex-ul{
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}