/*Custom properties*/
:root{
    --border-1: 1px solid rgb(0, 0, 0);
    --border-2: 1px solid rgb(255, 0, 0);
    --border-3: 1px solid rgb(255, 255, 255);
    --border-4: 1px solid rgb(0, 255, 13);
    --primary-color: #1abc9c;
    --secondary-color: #2c3e50;
    --footer-color: #3a546d;

}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.header{
    /* width: 100%; */
    background-color: var(--secondary-color);
    color: white;

    /* debug */
}

/* HEADER BUTTON */
.header .btn{
    color: gray;
    background-color: transparent;
    border: 1px solid white;
    /* debug */
}

/* JUMBOTRON */
.jumbotron{
    color: white;
    background-color: var(--primary-color);
    /* debug */
}

img{
    max-width: 30%;
}

/* PORTFOLIO */
.portfolio{
    color: var(--secondary-color);
    /* width: 60%; */
    margin: 0 auto;
}

/* ABOUT */
.about{
    background-color: var(--primary-color);
    color: white;
}

/* CONTACT */
/* FORM */
.ms_form-control{
    box-shadow: none;
    border-width: 0 0 1px 0;
}

/* FOOTER */
.footer{
    color: white;
}

.footer-top{
    background-color: var(--footer-color);
}

.footer-bottom{
    background-color: var(--secondary-color);
}

/* FOOTER ICONS */
.icon-container{
    width: 2rem;
    height: 2rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* COMMON */
/* A */
a{
    text-decoration: none;
    color: white;
}

/* CONTAINER */
.container{
    /* debug */
}

/* ROW */
.row{
    /* debug */
}

/* COLUMNS */
[class*="col"]{

    /* debug */
}

/* BUTTON */
[class*="btn"]{
    
    background-color: var(--primary-color);
    border-color: white;
    /* debug */
}

/* LIST */
.flex-ul{
    list-style-type: none;
    padding-left: 0;
}