/*Custom properties*/
:root{
    --border-1: 1px solid rgb(0, 0, 0);
    --border-2: 1px solid rgb(255, 0, 0);
    --border-3: 1px solid rgb(255, 255, 255);
    --border-4: 1px solid rgb(0, 255, 13);
    --primary-color: #1abc9c;
    --secondary-color: #2c3e50;

}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* HEADER */
.header{
    width: 100%;
    background-color: var(--secondary-color);

    /* debug */
}

/* COMMON */
/* CONTAINER */
.container{
    /* debug */
}

/* ROW */
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* debug */
}

/* COLUMNS */
[class*="col"]{

    /* debug */
}

/* BUTTON */
.btn{
    color: gray;
    border: 1px solid white;
    /* debug */
}

/* LIST */
.flex-ul{
    list-style-type: none;
}

#appear{
    display: none;
}

@media screen and (min-width: 768px) {
    #appear{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #disappear{
        display: none;
    }
}

/* JUMBOTRON */
.jumbotron{
    width: 100%;
    /* debug */
    height: 20rem;
    background-color: var(--primary-color);
}

.jumbo-content{
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.jumbo-content > *{
    margin: auto;
}

.jumbo-content img{
    max-height: 50%;
}